.inicio {
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    color: aliceblue;
    text-align: center;
}

.meio {
    font-family: Georgia, 'Times New Roman', Times, serif;

    text-align: center;
}

.titulos {
    font-family: Georgia, 'Times New Roman', Times, serif;

    text-align: center;
    color: rgb(0, 77, 135);
}

.meio2 {
    font-family: Georgia, 'Times New Roman', Times, serif;

    text-align: left;
    color: rgb(0, 183, 255);
}

.meio3 {
    font-family: Georgia, 'Times New Roman', Times, serif;

    text-align: center;
}