.flex-b {
    display: flex;
    justify-content: center;
    /* justify-content: flex-end;
    justify-content: flex-start; */
    align-items: center;
    padding: 15PX 8% ;
}

.menu-f {
    display: flex;
    gap: 23px;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color:whitesmoke;
}

.flex-ban {
    display: flex;
    align-items: center;
    gap: 43px;
    padding: 60px 8%;
    background-color: bisque;
}

.flex-ban-c, .flex-ban-imagem {
    flex: 1;
}

.flex-ban-imagem {
    margin: 0;
}

.flex-ban-imagem img {
    width: 100%;
    display: block;
}

.flex-cs {
    display: flex;
    gap: 23px;
    flex-wrap: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

.flex-cs > li {
    flex: 1;
    min-width: 223px;
}

.flex-con {
    display: flex;
    gap: 43px;
    align-items: flex-start;
    padding: 60px 8%;
}

.flex-con-c, .flex-con form {
    flex: 1;
    justify-content: flex-end;
}

.flex-ca {
    display: flex;
    height: 200px;
    background-color: blueviolet;
    align-items: flex-start;
}